body {background-color: rgb(44, 61, 63);
font-family:"Avenir Next";}
h1   {color: rgb(255, 179, 0);   
       font-size: 40px;
        font-family: "Arial Black";}
p    {color: rgb(255, 255, 255);
       font-size: 20px;
        font-family: "Lucida Grande";}
h3   {color: rgb(255, 255, 255);   
       font-size: 10px;
        font-family: "Arial Black";}

li  {list-style: none;}
.header {background-color: rgba(0, 200, 255, 0.728);
         height: 90px;}

.header-logo {
    float: left;
    font-size: 36px;
    padding: 20px 40px
}

.header-list li {
    float: left;
    padding: 33px 20px;
}

.footer {
    background-color: rgba(0, 200, 255, 0.728);
    height: 120px;
    padding: 40px ;
}

.footer-logo {
    float: left;
    font-size: 36px;
    padding: 20px 40px
}
.footer-list {
    float: right;
    font-size: 32px;
    padding: 20px 40px
}

.footer-list li {
    float: left;
    padding: 33px 20px;
}

.main {
    background-color: rgb(44, 61, 63);
    padding: 40px ;
}
.copy-countainer h1 {

    font-size: 140px;
}
.copy-countainer h2 {
    font-size: 60px;
}
.copy-countainer span {
    color: rgb(0, 255, 234);
}
.contents {
    background-color: rgb(44, 61, 63);
    height: 100px;
    margin-top: 100px;
}

.section-title {
    border-bottom: 2px solid rgb(255, 179, 0);
    font-size: 28px;
    margin-bottom: 300px;
    padding-bottom: 40px ;
}

.contents-item {
    float: left;
    margin-right: 40px;
}

.contents-item p {
    font-size: 24px;
    margin-top: 30px;
}

.contact-form {
    padding-top: 100px;
}

input, textarea {
    width: 400px;
    padding: 20px;
    border: 1px solid #098fe1;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.contact-submit {
    background-color: rgb(255, 179, 0);
    color: white;
}