body {background-color: rgb(44, 61, 63);}
h1   {color: rgb(0, 72, 255);   
       font-size: 40px;
        font-family: "Arial Black";}
p    {color: rgb(255, 255, 255);
       font-size: 20px;
        font-family: "Lucida Grande";}