/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: "Lucida Grande";
}

/* LINK */
a {
    text-decoration: none;
}

/* CONTAINER */
.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/* HEADER */
header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
}

.header-left {
    float: left;
}

.header-right {
    float: right;
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.5s;
}

.header-right:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
}

/* LOGO */
.logo {
    width: 124px;
    margin-top: 20px;
}

/* MENU ICON */
.menu-icon {
    display: none;
    float: right;
    color: white;
    font-size: 25px;
    padding: 20px;
}

/* TOP WRAPPER */
.top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(https://prog-8.com/images/html/advanced/top_en.png);
    background-size: cover;
    color: white;
    text-align: center;
}

.top-wrapper h1 {
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.top-wrapper p {
    opacity: 0.7;
    margin-bottom: 3px;
}

/* BUTTON */
.btn-wrapper {
    text-align: center;
    margin: 20px 0;
}

.btn-wrapper p {
    margin: 10px 0;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    color: white;
    border-radius: 4px;
    opacity: 0.8;
    margin: 10px 0;
}

.btn:hover {
    opacity: 1;
}

.signup {
    background-color: #c03232;
}

.facebook {
    background-color: #3b5998;
    margin-right: 10px;
}

.twitter {
    background-color: #55acee;
}

.facebook,
.twitter {
    width: 200px;
    text-align: center;
    display: inline-block;
}

.fa {
    margin-right: 5px;
}

/* LESSON SECTION */
.lesson-wrapper {
    background-color: #f7f7f7;
    text-align: center;
    padding-bottom: 80px;
}

.heading {
    padding: 60px 0 30px 0;
    color: #5f5d60;
}

.heading h2,
.heading h3 {
    font-weight: normal;
}

/* LESSON GRID */
.lesson {
    float: left;
    width: 25%;
}

.lesson-icon {
    position: relative;
}

.lesson-icon p {
    position: absolute;
    top: 90px;
    width: 100%;
    color: white;
}

/* TEXT */
.txt-contents {
    width: 80%;
    margin: 20px auto;
    font-size: 15px;
    color: #b3aeb5;
}

/* CLEAR FIX */
.lessons::after {
    content: "";
    display: block;
    clear: both;
}

.clear {
    clear: both;
}

/* MESSAGE */
.message-wrapper {
    text-align: center;
    padding-bottom: 80px;
    border-bottom: 1px solid #eee;
}

.message {
    padding: 15px 40px;
    background-color: #5dca88;
    cursor: pointer;
    box-shadow: 0 7px #1a7940;
}

.message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
}

/* FOOTER */
footer {
    padding-top: 30px;
}

footer img {
    width: 125px;
}

footer p {
    color: #b3aeb5;
    font-size: 12px;
}